* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 12%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-left: 3rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.section {
    padding: 8rem 12%;
    text-align: center;
}

.section h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    background-color: var(--second-bg-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    border-radius: 1rem;
}

.card h3 {
    margin: 1.5rem 0;
    font-size: 2rem;
}

.card p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.card .btn {
    background: var(--main-color);
    color: black;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s;
}

.card .btn:hover {
    background: white;
}

.team-section {
    margin-top: 5rem;
}

.team-member {
    display: inline-block;
    width: 200px;
    margin: 1rem;
    text-align: center;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
}

.footer {
    background-color: var(--second-bg-color);
    padding: 2rem 0;
    text-align: center;
}

.footer p {
    margin: 1rem 0;
}